nav {
    background-color: #153e52;
    font-family: open sans;
    font-weight: 500;
}

nav>div {
    justify-content: end;
    display: flex;
    margin-right: 75px;
}

nav a {
    color: white;
    transition: all 0.2s;
    text-decoration: none;
    padding: 18px 8px;
}

a:hover {
    color: #14bf98;
}

a.icons {
    color: white;
    transition: all 0.2s;
}

a.icons:hover {
    color: #14bf98;
}

header {
    background-image: url(../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
    text-align: center;

}

header>div>h1 {
    margin-top: 0px;
    color: white;
    font-size: 56px;
    font-family: Montserrat;
}

header>div>p {
    color: white;
    margin: 0 400px;
    font-family: open sans;
}

header>div>a {
    position: relative;
    top: 60px;
    text-decoration: none;
    color: white;
    background-color: #14bf98;
    padding: 18px 32px;
    font-family: open sans;
    font-weight: 600;
}

header>div {
    position: relative;
    top: 250px;
}

div.div {
    font-family: open sans;
    display: flex;
    margin-top: 200px;
}

div.childDiv>h1 {
    font-family: Montserrat;
    color: #113448;
    margin-right: 75px;
    margin-left: 150px;
    margin-bottom: 0px;

}

div.childDiv>p.intro {
    color: #14bf98;
    margin-left: 150px;
    margin-bottom: 0px;

}

div.childDiv>p.p {
    margin-right: 75px;
    margin-left: 150px;
    line-height: 30px;
    margin-bottom: 0px;
    font-weight: 200;
}

div.childDiv>p.author {
    margin-left: 150px;
    font-family: open sans;
    font-weight: 600;
}

div.div>img {
    margin-right: 150px;
    height: 500px;
    width: 700px;
    border-radius: 4px;
    opacity: 0.9;
    margin-top: 0px;
}

div.div2>div>h2{
    font-family: Montserrat;
    margin-left: 150px;
}
div.div2{
    margin-top: 150px;
    display: flex;
}
div.div2>div>p{
    margin-left: 150px;
    font-family: open sans;
    font-weight: 100;
    margin-right: 20px;
    line-height: 28px;
}
div.div2>div>i{
    font-size: 32px;
    margin-left: 175px;
}